.description {
  background-color: $descrition-bg-clr;

  &__photo {
    background-image: url(../images/img-block.png);
    background-size: cover;
    background-position: center;
    height: 200px;
    margin-bottom: 48px;

    @include onTablet {
      height: 400px;
      margin-bottom: 0;
    }

    @include onDesktop {
      height: 460px;
    }
  }

&__wrapper {
  @include pageGrid;
  padding-block: 120px;
}

  &__title {
    grid-column: span 2;

    @include onTablet {
      grid-column: span 3;
    }

    @include onDesktop {
      grid-column: span 6;
    }
  }

  &__content {
    grid-column: span 2;

    @include onTablet {
      grid-column: span 3;
    }

    @include onDesktop {
      grid-column: 8 / -1;
    }
  }
}
