.description {
  background-color: $descrition-bg-clr;

  &__photo {
    background-image: url(../images/img-block.png);
    background-size: cover;
    background-position: center;
    height: 200px;
    margin-bottom: 48px;

    @include on-tablet {
      height: 400px;
      margin-bottom: 0;
    }

    @include on-desktop {
      height: 460px;
    }
  }

  &__wrapper {
    @include page-grid;

    padding-block: 120px;
  }

  &__title {
    grid-column: span 2;

    @include on-tablet {
      grid-column: span 3;
    }

    @include on-desktop {
      grid-column: span 6;
    }
  }

  &__content {
    grid-column: span 2;

    @include on-tablet {
      grid-column: span 3;
    }

    @include on-desktop {
      grid-column: 8 / -1;
    }
  }
}
