@mixin hover ($property, $toValue) {
  transition: #{$property} 0.3s;

  &:hover{
    #{$property}: $toValue;
  }
}

@mixin onTablet {
  @media (min-width: 744px) {
    @content;
  }
}

@mixin onDesktop {
  @media (min-width: 1024px) {
    @content;
  }
}

@mixin contentPaddingInLine {
  padding-inline: 20px;

  @include onTablet {
    padding-inline: 72px;
  }

  @include onDesktop() {
    min-width: 1020px;
    margin-inline: auto;
    padding-inline: 120px;
  }
}

@mixin pageGrid {
    display: grid;
  column-gap: 20px;
  --columns: 2;
  grid-template-columns: repeat(var(--columns), 1fr);

  @include onTablet {
    column-gap: 24px;
    --columns:6;
  }

  @include onDesktop {
    --columns:12;
  }
}

.container {
  @include contentPaddingInLine();
}

@mixin button {
  display: grid;
  align-items: center;
  justify-items: center;
  background-color: $button-orange;
  border-radius: 8px;
  box-sizing: border-box;

  &:hover {
    background-color: $button-hover-gray;
  }

  &:active {
    background-color: $button-pressed-black;
  }
}
