$main-text-color: #1b2129;
$header-title-color: #fff;
$button-orange: #f98921;
$button-hover-gray: #1b2129;
$button-pressed-black: #010810;
$descrition-bg-clr: #fcfaef;
$input-default-bg: #f9f9f9;
$input-hover-border: #dbdbdb;
$input-active-border: #f98921;
